*{
    margin: 0%;
    box-sizing: border-box;
}
.icon{
    margin: 10px;
    height: 1px;
    width: 1px;
    padding-top: 10px;
    position: absolute;

}

.free{
    padding-top: 10px;
    font-size: 20px;
    float: right;
    border-radius: 2rem;
 padding-left:10px ;
    border-color: magenta;
    color: magenta;
    width: 150px;
    text-align: center;
    padding-bottom: 10px;
    
}
.size{
     margin-top: 0px;
     padding-top: 20px;
     padding-right: 0px;
}

.build{
    padding-top: 100px;
    text-align: center;
    font-size: 30px;

}
p{
    padding-top: 15px;
    text-align: center;
    max-width: 400px;
    margin-left:160px;
    
}

.down{
    text-align: center;
    border-radius: 2rem;
    padding: 10px;
     background-color: magenta; 
    border-color: magenta;
    color: white;
    width: 200px;
}

.image{
    max-width: 600px;
    margin-left: 60px ;
    padding-top: 30px;
    padding-bottom: 50px;
    
}

.ic{
    padding-right:100px;
    max-width: 400px;
}
